<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Online Transactions</title>
</head>
<body>
    <style>
        body {
            background-image: url("https://ronagpur.in/subdomain/bankguarantee/adminTemplate/admin/assets/demo/signin-bg-1.jpeg");
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .container {
            margin: 0px 125px;
            color: rgb(145, 98, 231);
            background-color: white;
            padding: 5px 10px;
            opacity: 0.83;
        }
        .buttons {
            float: right;
            margin: auto 2px;
        }
        .buttons {
            cursor: pointer;
            opacity: 1.0;
        }
        .navbarlinks {
            margin: auto 7px;
        }
        a {
            text-decoration: none;
            color:rgb(39, 39, 206);
        }
        a:hover {
            color: green;
        }
        #login {
            background-color:rgb(112, 112, 241);
        }
        #signup {
            background-color: rgb(241, 101, 101);
        }
        .navbar {
            padding: 6px 6px;
        }
        img {
            width: 160px;
            height: 145px;
        }
    </style>

<div class="logo">
    <img src='https://www.freelogodesign.org/file/app/client/thumb/24ac1b73-98e4-4d79-95f5-31d8032130fe_200x200.png?1603888598530'>
</div>

<div class="container">

    <div class="navbar">
        <span class="navbarlinks">
            <a href="/">Home</a>
        </span>
        <span class="navbarlinks">
            <a href="/create_acc">Create Account</a>
        </span>
        <span class="navbarlinks">
            <a href="/transaction">Make Transaction</a>
        </span>
    </div>
</div>

    

    
