<%- include("partials/header") %>

<a href="/">Home</a>
<a href="/create_acc">Create Account</a>
<a href="/transaction">Make Transaction</a>
<a href="/signup">SignUp</a>
<a href="/login">LogIn</a>

<%- include("partials/footer") %>

