<%- include("partials/header",{id:id ? id:null, record: record ? record : null}) %>

<div class="container" style="text-align: center; width: 100%; margin: auto;">
    <img src="/images/Sample.jpg" alt="Reserve Bank of India" style="margin: 12% auto; text-align: center; width: 70%;">
</div>


<%- include("partials/footer") %>

