<%- include("partials/header") %>

<a href="/">Home</a>

<h4>LOG IN PLEASE!!</h4>
<form action="/accountactivity" method="POST">
    <div>
        <label for="Email">Email
            <input id="email" type="email" name="Email" placeholder="e.g. john@outlook.com" required>
        </label>
    </div>

    <div>
        <label for="Pass">Password
            <input id="pass" type="password" name="Pass" minlength="8" maxlength="16" size="16" placeholder="Password" required>
        </label>
    </div>

    <div>
        <button>Submit</button>
    </div>
</form>

<a href="/signup">SignUp</a>

<%- include("partials/footer") %>