<%- include("partials/header") %>

<h1>CREATE A NEW PASSWORD!!</h1>

<form onsubmit="return PassEquality(this)" action="/newpass" method="POST">
    <label for="createPass">Create a new Password:
        <input type="password" name="p1" maxlength="16" size="16" pattern="^(?=.{5,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).*$" title="Password must follow the criteria:
        1. atleast 5 characters long
        2. atleast 1 uppercase letter
        3. atleast 1 lowercase letter
        4. atleast 1 special character " required>
    </label>
    <label for="confirmPass">Confirm the Password:
        <input type="password" name="p2" maxlength="16" size="16" pattern="^(?=.{5,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).*$" title="Password must follow the criteria:
        1. atleast 5 characters long
        2. atleast 1 uppercase letter
        3. atleast 1 lowercase letter
        4. atleast 1 special character " required>
    </label>
    <button class="btn btn-primary">Submit</button>
</form>
<h6 class="message"></h6>

<script>
    function PassEquality(form)
    {
        var create = form.p1.value;
        var Confirm = form.p2.value;
        
        if(create != Confirm)
        {
            alert("Passwords don't match. Please try again.")
            return false;
        }
        else    
            return true;
    }
</script>

<%- include("partials/footer") %>