<%- include("partials/header",{id:id ? id:null, record: record ? record : null}) %>

<head>
    <link rel="stylesheet" href="/stylesheets/otpValidate.css">
</head>

<div class="container" style="bottom: 2rem;">

    <div id="user-icon" style="font-size: 10rem; text-align: center;">
        <i class="fas fa-key" style="color: gold;"></i>
    </div>

    <div class="container contain-form w-70">

        <form action="<%=url%>" method="POST" class="form-components">
            <div class="form-group">
                <div class="text-left">
                    <input type="text" class="form-control m-3" name="otp" id="otp" placeholder="Enter OTP" required autofocus>
                </div>
            </div>
            <div id="timer" class="m-3 mx-auto my-3"></div>
            <div class="text-center">
                <button id="Submit" type="submit" class="btn btn-primary btn-lg"
                    style="margin-top: 1.2rem;">Verify</button>
            </div>
          </form>
    </div>

</div>

<%if(count > 3) {%>
    <script>
        alert("OTP limit exceeded. Please try again after 15 minutes");
        document.getElementById('Submit').disabled = true;

        let timer = document.getElementById('timer');
        let currTime = new Date();
        currTime.setMinutes(0);
        currTime.setSeconds(10);
        
        setInterval(() => {
            let mins = currTime.getMinutes()
            let secs = currTime.getSeconds()

            if(mins < 10) {
                mins = '0' + mins;
            }

            if(secs < 10) {
                secs = '0' + secs;
            }

            
            timer.innerHTML = '<p>You can login again after ' + mins + '' + ':'  + secs + '</p>'
            
            if(currTime.getSeconds() >= 1)
            {
                currTime.setSeconds((currTime.getSeconds()+59)%60);
            }

            if(currTime.getMinutes() >= 1 && currTime.getSeconds() === 0)
            {
                currTime.setMinutes((currTime.getMinutes()-1));
            }

            if(currTime.getMinutes() === 0 && currTime.getSeconds() === 0)
            {
                currTime.setMinutes(0);
                currTime.setSeconds(0);
                clearInterval();
            }

        }, 1000);

        setTimeout(() => {
            alert('Please login again!');
            window.location.replace('/auth/login');
        }, 11*1000 );
    </script>    
<%} else if(count > 1) {%>
    <script>

        $(document).ready(()=> {
            alert("OTP sent! Check your registered mail.");
        });
        
    </script>    
<%}%>


<%- include("partials/footer") %>

