<%- include("partials/header",{id:id ? id:null}) %>

    <head>
        <link rel="stylesheet" href="/stylesheets/signup.css">
        <script src="/javascripts/signup.js" type="text/javascript"></script>
    </head>

    <div class="container" style="border: 2px solid black;">

        <div id="user-icon" style="font-size: 10rem;">
            <i class="fas fa-user-circle" style="color: #007bff;margin: auto;"></i>
        </div>

        <div style="text-align: center; margin: 1rem auto 2.5rem auto;">
            <form onsubmit="return matchPasswords()" action="/auth/signup" method="POST">

                <div>
                    <div style="text-align:center;">
                        <input type="text" name="name" placeholder="Name"
                            style="width: 50%; height: 3rem; margin: 0.6rem auto;padding: 0.5rem;" required>
                    </div>

                    <div>
                        <div style="text-align:center;">
                            <input type="email" name="email" placeholder="Email ID"
                                style="width: 50%; height: 3rem; margin: 0.6rem auto;padding: 0.5rem;" required>
                        </div>

                        <div style="text-align:center; ">
                            <input class="createPass" type="password" placeholder="Create Password" name="p1"
                                minlength="8" maxlength="16" size="16"
                                pattern="^(?=.{5,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).*$" title="Password must follow the criteria:
                                1. atleast 8 characters long
                                2. atleast 1 uppercase letter
                                3. atleast 1 lowercase letter
                                4. atleast 1 special character "
                                style="width: 50%; height: 3rem; margin: 0.6rem auto; padding: 0.5rem;" required>
                        </div>

                        <div style="text-align:center; ">
                            <input class="createPass" type="password" placeholder="Confirm Password" name="p2"
                                minlength="8" maxlength="16" size="16"
                                pattern="^(?=.{5,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).*$" title="Password must follow the criteria:
                                    1. atleast 8 characters long
                                    2. atleast 1 uppercase letter
                                    3. atleast 1 lowercase letter
                                    4. atleast 1 special character "
                                style="width: 50%; height: 3rem; margin: 0.6rem auto; padding: 0.5rem; " required>

                            <button id="signup" type="submit" class="btn btn-danger btn-lg"
                                style="width: 50%; height: 3.5rem; margin-top: 0.6rem;">Sign up</button>
                        </div>


            </form>
        </div>

    </div>

    <%- include("partials/footer") %>