<%- include("partials/header") %>

<a href="/">Home</a>
<a href="/create_acc">Create Account</a>
<a href="/view">View Account Details</a>
<a href="/personaldetails">View Personal Details</a>
<a href="/login" onclick="logout()">Logout</a>

<h4>SIGN UP!!</h4>

<script>
  function logout() {
  signal = 0;
} 
</script>

<form onsubmit="return PassEquality(this)" action="/signup" method="POST">
    <label for="email">
        <input type="email" name="email" placeholder="Email ID" required>
    </label>
    <label for="createPass">Create a new Password:
        <input type="password" name="p1" minlength="8" maxlength="16" size="16" pattern="^(?=.{5,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).*$" title="Password must follow the criteria:
        1. atleast 5 characters long
        2. atleast 1 uppercase letter
        3. atleast 1 lowercase letter
        4. atleast 1 special character " required>
    </label>
    <label for="confirmPass">Confirm the Password:
        <input type="password" name="p2" minlength="8" maxlength="16" size="16" pattern="^(?=.{5,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).*$" title="Password must follow the criteria:
        1. atleast 5 characters long
        2. atleast 1 uppercase letter
        3. atleast 1 lowercase letter
        4. atleast 1 special character " required>
    </label>
    <button>Submit</button>
</form>
<h6 class="message"></h6>

<script>
    function PassEquality(form)
    {
        var create = form.p1.value;
        var Confirm = form.p2.value;
        
        if(create != Confirm)
        {
            alert("Passwords don't match. Please try again.")
            return false;
        }
        else    
        {
            signal = 1;
            return true;
        }
    }
</script>

<%- include("partials/footer") %>