<%- include("partials/header") %>


<div class="container">

<% if(signal == 1) { %>
    <span class="navbarlinks">
        <a href="/view">View Account Details</a>
    </span>
    <span class="navbarlinks">
        <a href="/personaldetails">View Personal Details</a>
    </span>
    <button class="buttons" click="logout()" onclick="window.location.href='/'"><strong>Log Out</strong></button>
    <button class="buttons"><strong>Hi <%= record.name %>!</strong></button>
<% }
else { %>
    <button class="buttons" id="login" onclick="window.location.href='/login'"><strong>Log In</strong></button>
    <button class="buttons" id="signup" onclick="window.location.href='/signup'"><strong>Sign Up</strong></button>
<% } %> 

<h4><strong>Sign Up</strong></h4>

<form onsubmit="return PassEquality(this)" action="/signup" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Name" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email ID" required>
    </div>
    <div>
        <label for="createPass">Create a new Password:</label>
        <input class="createPass" type="password" placeholder="Create Password" name="p1" minlength="8" maxlength="16" size="16" pattern="^(?=.{5,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).*$" title="Password must follow the criteria:
        1. atleast 5 characters long
        2. atleast 1 uppercase letter
        3. atleast 1 lowercase letter
        4. atleast 1 special character " required>  
    </div>
    <div>
        <label for="confirmPass">Confirm the Password:</label>
        <input type="password" placeholder="Confirm Password" name="p2" minlength="8" maxlength="16" size="16" pattern="^(?=.{5,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).*$" title="Password must follow the criteria:
        1. atleast 5 characters long
        2. atleast 1 uppercase letter
        3. atleast 1 lowercase letter
        4. atleast 1 special character " required>
    </div>
    <div>
        <button class="btn btn-primary">Sign Up</button>
    </div>
</form>
</div>

<script>
    function PassEquality(form)
    {
        var create = form.p1.value;
        var Confirm = form.p2.value;
        
        if(create != Confirm)
        {
            alert("Passwords don't match. Please try again.")
            return false;
        }
        else    
        {
            signal = 1;
            return true;
        }
    }
</script>

<%- include("partials/footer") %>