<%- include("partials/header") %>

    <ul>
        <li><a href="transaction.html">Make Transaction</a></li>
        <li><a href="personaldetails.html">View Account Details</a></li>
        <li><a href="personaldetails.html">View Personal Details</a></li>
        <li><a href="transaction.html">View Transaction History</a></li>
    </ul>

<%- include("partials/footer") %>