<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="transaction.js"></script>
    <title>Online Transactions</title>
</head>
<body>
    <ul>
        <li><a href="transaction.html">Make Transaction</a></li>
        <li><a href="personaldetails.html">View Account Details</a></li>
        <li><a href="personaldetails.html">View Personal Details</a></li>
        <li><a href="transaction.html">View Transaction History</a></li>
    </ul>
</body>
</html>