<%- include("partials/header") %>


<script type="text/javascript">
  function preback(){
    window.history.forward();
  }
  setTimeout("preback()", 0);
  window.onunload=function(){null};
</script>

<div class="container">
  <button class="buttons" id="login" onclick="window.location.href='/login'"><strong>Log In</strong></button>
  <button class="buttons" id="signup" onclick="window.location.href='/signup'"><strong>Sign Up</strong></button> 

  <form id="transacsub" action="/view" method="POST">
    <input type="number" id="amt" placeholder="Amount" name="trans_amount">
      <select name="trans_type">
        <option value="withdrawl">Withdrawl</option>
        <option value="deposit">Deposit</option>
      </select>
      <button id="cancel" formaction="/" formmethod="get">Cancel</button> 
      <button id="pay">Confirm</button>
    </form> 
</div>



<script>       
        $(document).ready(function() { 
          $("#cancel").click(function() { 
                  alert("Transaction Canceled")
                  window.location.replace("/");   
              }); 
          });  

          function logout() {
            signal = 0;
          } 
</script> 


<%- include("partials/footer") %>