<%- include("partials/header") %>

<ul>
    <li><a href="/">Home</a></li>
    
    <li><a href="/transaction">Make Transaction</a></li>
    <li><a href="/personaldetails">View Account Details</a></li>
    <li><a href="/personaldetails">View Personal Details</a></li>
    <li><a href="/view">View Transaction History</a></li>
    <li><a href="/login">Logout</a></li>
    <table id="table"></table>
</ul>
    
<%- include("partials/footer") %>