<%- include("partials/header") %>

<% signal = 1; %>

<a href="/">Home</a>
<a href="/create_acc">Create Account</a>
<a href="/transaction">Make Transaction</a>
<a href="/view">View Account Details</a>
<a href="/personaldetails">View Personal Details</a>
<a href="/login" onclick="logout()">Logout</a>

<script type="text/javascript">
  function preback(){
    window.history.forward();
  }
  setTimeout("preback()", 0);
  window.onunload=function(){null};
</script>

      <form id="transacsub" action="/view" method="POST">
        <input type="number" id="amt" placeholder="Amount" name="trans_amount">
          <select name="trans_type">
            <option value="withdrawl">Withdrawl</option>
            <option value="deposit">deposit</option>
          </select>
          <button id="cancel" formaction="/" formmethod="get">Cancel</button> 
          <button id="pay">Confim</button>
        </form>  
<script>       
        $(document).ready(function() { 
          $("#cancel").click(function() { 
                  alert("Transaction Canceled")
                  window.location.replace("/");   
              }); 
          });  
</script> 


<script>
  function logout() {
  signal = 0;
} 
</script>


<%- include("partials/footer") %>