<%- include("partials/header") %>

    <ul>
        <li><a href="/transaction.ejs">Make Transaction</a></li>
        <li><a href="/personaldetails.ejs">View Account Details</a></li>
        <li><a href="/personaldetails.ejs">View Personal Details</a></li>
        <li><a href="/transaction.ejs">View Transaction History</a></li>
        <li><a href="/login.ejs">Logout</a></li>
    </ul>

    

<%- include("partials/footer") %>