<style>
    table,td,th {
        border: 2px solid black;
    }
</style>

<table>
    <tr>
        <th>S.No.</th>
        <th>Amount</th>
        <th>Type of Transaction</th>
        <th>Date and Time</th>
    </tr>
    
    <% let c=0;
    let temp = Accounts.find({});
    console.log(temp);
    for(let j=0; j<temp.length; j++) {
        c=c+1; %>
        <tr>
            <td><%= c %></td>
            <td><%= temp[j]['name'] %></td>
            <td><%= temp[j]['gender'] %></td>
            <td><%= temp[j]['email'] %></td>
        </tr>
    <% } %>    
</table>