<style>
    table,td,th {
        border: 2px solid black;
    }
</style>

<table>
    <tr>
        <th>S.No.</th>
        <th>Amount</th>
        <th>Type of Transaction</th>
        <th>Date and Time</th>
    </tr>
         
        <%var i,j,count=0;%>
        
        
            <%for(j=0;j<Account.transactions.length; j++){%>
            <tr>      
                <td> <%count=count+1%>
                     <%=count%></td>

                <td><%=Account.transactions[j].amount%></td>
                <td><%=Account.transactions[j].typeOftransac%></td>
                <td><%var day = Account.transactions[j].dateANDtime.getDate()%>
                    <%var month = Account.transactions[j].dateANDtime.getMonth()%>
                    <%var year = Account.transactions[j].dateANDtime.getFullYear()%>
                    <%=day + "-" + month + "-" + year%></td>
            </tr>
            <%}%>
    <div>
        <a href="/"><button>Home</button></a>
    </div>