<style>
    table,td,th {
        border: 5px solid black;
    }
</style>

<table>
    <tr>
        <th>S.No.</th>
        <th>Amount</th>
        <th>Type of Transaction</th>
        <th>Date and Time</th>
    </tr>
    
    <% let c=0;
    let temp = Accounts.find({});
    for(let j=0; j<temp.length; j++) {
        c=c+1; %>
        <tr>
            <td><%= c %></td>
            <td><%= temp[j]['amount'] %></td>
            <td><%= temp[j]['typeOftransac'] %></td>
            <td><%= temp[j]['dateANDtime'] %></td>
        </tr>
    <% } %>    
</table>