<style>
    table,td,th {
        border: 2px solid black;
    }
</style>

<table>
    <tr>
        <th>S.No.</th>
        <th>Amount</th>
        <th>Type of Transaction</th>
        <th>Date and Time</th>
    </tr>
    
   
        <%var i,j,count=0;%>
        <%for(i=0;i<Account.length; i++){%>
            <%for(j=0;j<Account[i].transactions.length; j++){%>
            <tr>      
                <td> <%count=count+1%>
                     <%=count%></td>
                <td><%=Account[i].transactions[j].amount%></td>
                <td><%=Account[i].transactions[j].typeOftransac%></td>
                <td><%var day = Account[i].transactions[j].dateANDtime.getDate()%>
                    <%var month = Account[i].transactions[j].dateANDtime.getMonth()%>
                    <%var year = Account[i].transactions[j].dateANDtime.getFullYear()%>
                    <%var year = Account[i].transactions[j].dateANDtime.getFullYear()%>
                    <%var hour = Account[i].transactions[j].dateANDtime.getHours()%>
                    <%var minute = Account[i].transactions[j].dateANDtime.getMinutes()%>
                    <%var second = Account[i].transactions[j].dateANDtime.getSeconds()%>
                    <%= day.toString() + "-" + (month+1).toString() + "-" + year.toString()%></td>
            </tr>
            <%}%>
        <%}%>
