.container {
    width: 75%;
    text-align: center !important;
    margin: 1rem auto !important;
}

.contain-form {
    padding: 0.6rem !important;
}

.form-group {
    margin: auto  !important;
    margin-bottom: 1.5rem !important;
    text-align: center !important;
    height: 3rem !important;
}

.form-control {
    font-size: 1.2rem !important;
    padding: 0.8rem !important;
}


#submit {
    width: 75% !important;
    margin: 1.5rem auto;
}

#submit:hover {
    color: #bb2d3b;
    font-weight: 900;
    background-color: white;
    border: 4px solid #bb2d3b;
}